asgiref==3.4.1
Django==3.2.5
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-jwt
djangorestframework-simplejwt
importlib-metadata==4.6.1
Markdown==3.3.4
PyJWT
pytz==2021.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
zipp==3.5.0
psycopg2-binary==2.8